* {
  overflow-x: hidden;
}

@font-face {
  font-family: Digital7;
  src: url(../assets/digital7.ttf);
}

#equal {
  font-size: 30px;
  background-color: rgb(3, 180, 180);
  color: white;
}

.container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow-y: hidden;
  background-color: #3b4664;
}

.buttons {
  display: grid;
  grid-template-columns: 10fr 10fr 10fr 10fr;
  grid-template-rows: 10fr 10fr 10fr 10fr;
  width: 94%;
  height: 75%;
  position: relative;
  background-color: #293147;
  padding: 4px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: "roundedCorners", sans-serif;
}

#plus {
  height: 196%;
}

#spaceOne {
  padding: 0.2rem;
}

#spaceTwo {
  padding: 0.2rem;
}
#operators {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 94%;
  background-color: #293147;
  padding: 4px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 0.5rem;
}

#plus {
  background-color: rgb(255, 120, 71);
  color: white;
}

#reset {
  overflow-y: hidden;
  background-color: rgb(248, 107, 107);
  color: white;
  font-weight: 500;
}

#separator {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  width: 100%;
  background-color: #3b4664;
}

#display {
  background-color: #181f32;
  font-size: 70px;
  padding-top: 0.3rem;
  padding-right: 1rem;
  width: 94%;
  height: 15%;
  text-align: right;
  font-family: "Digital7";
  border-radius: 10px;
  color: white;
}

.button {
  margin: 0.15rem;
  font-size: 36px;
  font-weight: 800;
  border: none;
  border-radius: 7px;
  font-family: "M PLUS Rounded 1c";
}

.button:active {
  outline: solid 3px blue;
}
